@font-face {
    font-family: apercu;
    src: url(/public/fonts/apercu.woff2);
}

.global500{
    --clr-neutral-900:hsl(196, 57%, 9%);
    --clr-neutral-100:hsl(60, 33%, 94%);

    background-color: var(--clr-neutral-900);
    font-family: apercu;
    text-transform: uppercase;
    font-size:.83333vw;
    letter-spacing: 1.5px;
    color: var(--clr-neutral-100);
    padding: 0 60px 0 48px;
}


.global500__right-container button{
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
    border: none;
    text-transform: uppercase;
    padding: 0.7vw 2vw;
    border-radius: 9999px;
    line-height: normal;
    font-size: inherit;
}
.global500-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(64px, 6.5vw, 96px);
}

.global500-container a{
    display: flex;
    align-items: center;
    gap: 8px;

    & > img{
        width: 6px;
    }
}
.global500 nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.global500-icon > a > img{
    width: clamp(60px, 6.5vw, 100px);
}
.global500__menu{
    display: none;
}

@media (max-width: 768px) {
    .global500__left-container{
        display: none;
    }
    .global500__right-container{
        display: none;
    }
    .global500-icon > a > img{
        width: 100px;
    }
    .global500__menu{
        display: inline;
    }
    .global500__menu button{
        display: inline;
        background-color: var(--clr-neutral-100);
        color: var(--clr-neutral-900);
        border: none;
        text-transform: uppercase;
        padding: 8px 48px;
        border-radius: 9999px;
        line-height: normal;
        font-size: 20px;
    }
}